In [ ]:
create table athletes(
athlete_id int primary key,
name varchar(100),
birthdate date ,
country_id int,
event_id int, 
medal varchar(10),
olympics_year int
);

insert into athletes (athlete_id, name, birthdate, country_id, event_id, medal, olympics_year) values
(1, 'Usain Bolt', '1986-08-21', 1, 1, 'Gold', 2008),
(2, 'Michael Phelps', '1985-06-30', 2, 3, 'Gold', 2008),
(3, 'Simone Biles', '1997-03-14', 3, 5, 'Gold', 2016),
(4, 'Carl Lewis', '1961-07-01', 1, 2, 'Silver', 1984),
(5, 'Katie Ledecky', '1997-03-17', 2, 4, 'Silver', 2012),
(6, 'Kohei Uchimura', '1989-01-03', 4, 5, 'Bronze', 2012),
(7, 'Neeraj Chopra', '1997-12-24', 5, 6, 'Gold', 2020),
(8, 'PV Sindhu', '1995-07-05', 5, 7, 'Silver', 2016),
(9, 'Novak Djokovic', '1987-05-22', 6, 8, 'Bronze', 2008),
(10, 'Mo Farah', '1983-03-23', 7, 9, 'Gold', 2012),
(11, 'Aly Raisman', '1994-05-25', 3, 5, 'Silver', 2016),
(12, 'Yohan Blake', '1989-12-26', 1, 1, 'None', 2012),
(13, 'Sun Yang', '1991-12-01', 8, 2, 'Gold', 2016),
(14, 'Adam Peaty', '1994-12-28', 9, 2, 'Gold', 2020),
(15, 'Eliud Kipchoge', '1984-11-05', 10, 9, 'Gold', 2020),
(16, 'Kevin Durant', '1988-09-29', 2, 10, 'Gold', 2016),
(17, 'Rafael Nadal', '1986-06-03', 6, 8, 'Gold', 2008),
(18, 'Wayde van Niekerk', '1992-07-15', 7, 11, 'Gold', 2016),
(19, 'Genzebe Dibaba', '1991-02-08', 10, 11, 'Silver', 2016),
(20, 'Marcell Jacobs', '1994-09-26', 1, 1, 'Gold', 2020),
(21, 'Shelly-Ann Fraser-Pryce', '1986-12-27', 1, 1, 'Gold', 2012),
(22, 'Hima Das', '2000-01-09', 5, 12, 'Silver', 2018),
(23, 'Andy Murray', '1987-05-15', 6, 8, 'Gold', 2016),
(24, 'Nathan Adrian', '1988-12-07', 2, 2, 'Bronze', 2012),
(25, 'Ryan Lochte', '1984-08-03', 2, 2, 'Silver', 2012),
(26, 'Dina Asher-Smith', '1995-12-04', 7, 1, 'Bronze', 2019),
(27, 'Johannes Vetter', '1993-03-26', 4, 8, 'Silver', 2016),
(28, 'Kento Momota', '1994-09-01', 8, 7, 'None', 2020),
(29, 'Jessica Ennis-Hill', '1986-01-28', 9, 13, 'Gold', 2012),
(30, 'Mariya Lasitskene', '1993-10-14', 8, 14, 'Gold', 2020);

select * from athlete;

In [ ]:
select * from athletes;